---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
import meImage from '../assets/images/bulbasaur.jpeg';
import treeImage from '../assets/images/tree-banner.webp';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to my Portfolio.">
  <!-- Home Section -->
  <section id="home" class="section full-width-section">
    <div class="section-wrapper">
      <div class="home-banner">
        <Image src={treeImage} alt="Banner" />
      </div>
      <div class="home-content">
        <h1 class="entry-title">John Doe</h1>
        <a class="mobile-avatar" href="/#home">
          <Image src={meImage} alt="MYSELF" />
        </a>
        <p class="site-info">
          This is my portfolio page which I started building during the workshop.
          <a class="message" href="#contact">Get in touch</a>!
        </p>

        <div class="social-links">
          <a href="mailto:contact@mail.me" aria-label="Get in touch via email.">
            <Icon name="mdi:envelope" />
          </a>
          <a
                  href="https://instagram.com/username"
                  aria-label="Follow me on instagram."
                  target="_blank"
          >
            <Icon name="mdi:instagram" />
          </a>
          <a
                  href="https://linkedin.com/in/username"
                  aria-label="Connect with me on LinkedIn."
                  target="_blank"
          >
            <Icon name="mdi:linkedin" />
          </a>
          <a
                  href="https://twitter.com/username"
                  aria-label="Follow me on Twitter."
                  target="_blank"
          >
            <Icon name="mdi:twitter" />
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- About Me Section -->
  <div class="section">
    <div class="section-wrapper block">
      <div class="content-1300">
        <h2 class="entry-title section-title" id="about-me">About Me</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi dicta error, fuga id impedit laborum
          nesciunt nulla, odio optio repellat rerum veniam vero. Explicabo, magnam, molestiae. Excepturi nobis, vero?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis, cum dolore doloribus eaque
          exercitationem facilis fugiat incidunt inventore modi nesciunt odit praesentium quod repellat sed sint, sunt
          totam voluptate.
        </p>

        <div class="button-group-wrapper">
          <a href="/portfolio" class="button">Find out more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-wrapper block">
      <Card
              href="https://astro.build/chat/"
              title="Astro Community"
              body="Come say hi to our amazing Discord community. ❤️"
      />
    </div>
  </div>
</Layout>

<style>
  .logo {
    position: absolute;
    top: 4rem;
    left: 2rem;
  }

  @media screen and (max-width: 768px) {
    .logo {
      display: none;
    }
  }

  .logo > img {
    max-width: 10rem;
  }

  .message {
    color: #aaa;
    cursor: pointer;
    text-decoration: underline;
  }

  .mobile-avatar,
  .search-bubble {
    position: fixed;
    z-index: 999;
  }

  .mobile-avatar {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
    top: 86px;
    right: 16px;
    width: 96px;
    border: 5px white solid;
    border-radius: 50%;
  }

  .mobile-avatar > img {
    max-height: 6rem;
    border-radius: 50%;
  }

  @media screen and (min-width: 768px) {
    .mobile-avatar {
      display: none;
    }
  }

  h1.entry-title {
    color: #666;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 3.7rem;
    letter-spacing: 0.3rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .site-info {
    color: #666;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .link {
    color: #666;
    text-align: center;
    text-decoration: underline;
  }

  .home-links a {
    margin-right: 1rem;
  }

  .home-content {
    flex: 1 0 370px;
    padding: 2rem;
  }


  .social-links {
    [data-icon] {
      color: #656565;
      font-size: 3rem;

      :hover {
        color: #094200;
      }
    }

    display: grid;
    margin: 1rem auto -5px;

    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;

    align-items: stretch;
    place-items: center;
    justify-items: center;

    & > a {
      cursor: pointer;
      width: 4rem;

      @media (max-width: 768px) {
        width: 3rem;
      }
    }
  }

  .home-banner {
    flex: 1 0 0;
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    .home-content {
      flex: 0 0 100%;
      margin: 0;
    }
  }
</style>
